*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    text-align: center;
    margin: 0px;
    padding: 0px;
    line-height: 1.5em;
    box-sizing: border-box;
}

h1{
    color: white;
    text-shadow: 3px 4px black;
    font-weight: bold;
    padding: 15px;
}

body{
    display: flex;
    justify-content: center;
    background-color: rgb(248, 114, 66);
}

input{
    margin-top: 15px;
    padding: 5px;
}

section{
    width: 400px;
    height: fit-content;
    background-color: whitesmoke;
    box-shadow: 15px 15px black;
}

select{
    width: 200px;
    height: fit-content;
    margin: 20px 0px;
    padding: 10px;
    font-size: 1.1em;
    line-height: 1.2em;
    
}

option{
    text-align: left;
}

@media screen and (max-width: 768px) {
    
    section{
        width: 60vw;
    }
}